.carousel__icon{
    color: aliceblue !important;
  }
.trending {
  border: solid 1px rgba(255, 255, 255, .08);
  padding: 15px;
}

.btn_year {
  background: rgba(0, 0, 0, .3);
  color: rgba(255, 255, 255, .5);
  border: none;
  padding: 6px 20px;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s;
  &:hover{
    background: #000;
  }
}